RewriteEngine On 
RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://www.homeworksforbooks.com/$1 [R,L]

Options +FollowSymLinks

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /homeworks/public_html/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /homeworks/public_html/index.php [L]
</IfModule>

# END WordPress


# Wordfence WAF
<IfModule mod_suphp.c>
	suPHP_ConfigPath '/home/homewot5/public_html'
</IfModule>
<Files ".user.ini">
<IfModule mod_authz_core.c>
	Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
	Order allow,deny
    	Allow from all
</IfModule>
</Files>

# END Wordfence WAF