*.log
*.png
*.svg
*.db
*.hist
*.current
tmp/
*.swf
*.gif
*.cache
*.jpg
*.ttf
*.mo
*.woff
mail/
homewot5/homedir/cache/
cache/
.cpanel/caches/
homewot5/homedir/.cphorde/
homewot5/homedir/.fontconfig/
homewot5/homedir/logs/
*.ico
/public_html/nbproject/private/
public_html/nbproject/project.properties
public_html/nbproject/project.xml
